.LdPage-main .Login-ldPage{
    width: 70%;
    display: flex;
    justify-content: center;
   text-align: center;
    max-width: 500px;
    min-width: 400px;
    min-height: 500px;
    max-width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: var(--cor2);
}

.LdPage-main .Login-ldPage .text-ldpage{
    margin-top: 50px;
}

.LdPage-main .Login-ldPage .text-ldpage .inputs span{
    position: absolute;
    margin-left: -330px;
   margin-top: 55px;
   color: red;

}

.LdPage-main .Login-ldPage .text-ldpage h1{
    font-size: 2.3em;
    color: var(--cor3);
}

.LdPage-main .Login-ldPage .text-ldpage form{
    margin-top: 50px;
    width: 100%;
}

.LdPage-main .Login-ldPage .text-ldpage form .inputText{
    border: none;
    margin-bottom: 30px;
   background-color: var(--cor6);
    width: 300px;
padding:20px;
border-radius: 10px;
font-weight: bold;
}


.LdPage-main .Login-ldPage .text-ldpage form .social-logins {display: flex;
align-items: center;
justify-content: center;}

.LdPage-main .Login-ldPage .text-ldpage form .social-logins {}

.LdPage-main .Login-ldPage .text-ldpage form .social-logins  img{

    width: 30px;
    height: 30px;
}

.LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-riot img{
    width: 50px ;
}
.LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-facebook , .LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-google ,.LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-riot{
   
    width: 100px;
    height: 40px;
    border-radius: 10px;
background-color: black;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-facebook:hover , .LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-google:hover ,.LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-riot:hover{

    opacity: 0.8;
    transform: scale(0.9,0.9);
    transition: 0.4s;
}

.LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-facebook{
    background-color: var(--cor1);
}

.LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-google{
    background-color:var(--cor6) ;
}

.LdPage-main .Login-ldPage .text-ldpage form .social-logins .sc-login-riot{
    background-color: var(--cor3);
}

.LdPage-main .Login-ldPage .text-ldpage form button {

    margin-top: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
   border: 1px solid var(--cor9);
   color: var(--cor9);


}

.LdPage-main .Login-ldPage .text-ldpage form button:hover {
transform: scale(1.1,1.1);
transition: 0.4s;

}


.infos-card{
    margin-top: -10px;
display: flex;
align-items: center;
justify-content: center;


}

.infos-card a{
    font-size: 0.8em;
    position: relative;
    left: 130px;
    bottom:15px;
    text-decoration: none;
    color: var(--cor1);
    
}