.Img-Inscriv{
    width: 100%;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background: #69707D;

}

.inscriv-main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.inscriv-main section{width: 50%;
overflow: hidden;
height: 100%;}


.inscriv-main section img{
    width: 650px;
    position: relative;
    bottom: -150px;
    left: 10px;
}

.inscriv-main  .cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
}

