
.LandingPage{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   background-color: var(--cor1);
}

.LdPage-main{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.LdPage-main section{
    width: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.LdPage-main .ImgJinx img {
    width: 609px;
  
}

.LdPage-main .Login-ldPage{
    width: 70%;
    display: flex;
    justify-content: center;
   text-align: center;
    max-width: 500px;
    min-width: 400px;
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: var(--cor2);
}

.LdPage-main .Login-ldPage .text-ldpage{
    margin-top: 30px;
}